<html>
    <head>
        <style>
        body {
            background: linear-gradient(135deg, #1d2671, #c33764);
            height: 100vh;
        }
    </style>

    </head>
    <body>
        <%- include('nav') %>
        <center>
        <h2>welcome to about page</h2>
        </center>
    </body>
</html>